.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-flow: row wrap
}

.product {
    max-width: 300px;
    width: 100%;
    max-height: 400px;
    height: 100%;
    box-sizing: border-box;
    cursor: pointer;
    margin: 15px;
    padding: 15px;
    border: 1px solid #e0dfe1;
    position: relative;
}

.product:hover {
    box-shadow: #e0dfe1 0 0 10px;
}

.product p, .hovered-product p {
    font-size: 15px;
}

.img-responsive {
    display: block;
    width: 100%;
    height: auto;
}


.hovered-div {
    position: absolute;
    background-color: #000000;
    opacity: 0.7;
    color: #ffffff;
    left: 15px;
    top: 50px;
    bottom: 43px;
    right: 15px;
    display: block;
    font-size: 13px;
    padding: 15px;
    overflow-y: scroll;
}

.hovered-div div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hovered-div.disabled {
    display: none;
}

.thee-images {
    display: flex;
    align-items: center;
    justify-content: center;
}

.thee-images img {
    display: block;
    background-color: aqua;
    width: 25px;
}

.thee-images img:nth-of-type(2) {
    margin: 0 15px
}
